body {
    box-sizing: border-box;
    background-image: url("/public/assets/img/burger.jpg");
}

.jumbotron {
    background-image: url("https://wallpapercave.com/wp/wp2186059.jpg");
    background-color: #cccccc;
    height: 500px;
    color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}    

#burgers, #devoured {
    text-align: center
}

#addBurger {
    align-content: center;
    padding: 20px;
    margin-top: 20px;
}